categorical: sex, scanner_var1, demo1, demo2, demo3,demo4,    demo5
continuous: age, BMI, weight,height,    something, something2
reference: scanner_var1=siemens, income=10k, education=mode/first/name
delta: BMI, something2
log10: height, something
normalize: something2
interact: age*sex,scanner_var1*age,age*sex*scanner_var1,height*bmi
splines: bmi knots=1,2,3,4 splineType=nsk Xpowers=2
splines: age knots=quartiles
log: sex, age
demean: bmi
mediator: height
intercept: false
familyID : scanner_var1
of_interest: BMI
winsorize: something3 upper=80
winsorize:  demo5 lower=5
winsorize: demo1 lower=2 upper=98
winsorize: var1
n_gpcs: 10
gpc_basename: pc