fixed: sex,age,scanner_var1, all variables to be included in the model
reference: scanner_var1=siemens income=10k education=mode/first/name
delta: bmi
interact: age*sex,scanner_var1*age,age*sex*scanner_var1,height*bmi
splines: bmi knots=1,2,3,4 spline_type=nsk xpower=2
splines: age knots=quartiles/median
log: sex, age
demean: bmi
mediator: height
intercept: false
famID : scanner_var1